* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
    text-decoration: none !important;
    
}
@font-face {
    font-family: Meddon;
    src: url(../../Assest/Font/Meddon-Regular.ttf);
}

html{
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
}
body{
    max-width: 1440px;
}
@font-face {
    font-family: Quicksand;
    src: url(Assest-20230827T040303Z-001/Assest/Font/Quicksand2/static/Quicksand-Regular.ttf);
}
@font-face {
    font-family: Sacramento;
    src: url(Assest-20230827T040303Z-001/Assest/Font/Sacramento/Sacramento-Regular.ttf);
}
.header {
    position: relative;
    display: flex;
    width: 100% ;
    height: 67px;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: space-between;
}

.headerActive {
    background-color: rgb(248, 217, 220);
    box-shadow: 5px 5px 5px 5px rgb(158, 157, 157);
    position: fixed;
    top: 0;
    padding-bottom: 10px;
    z-index: 100;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    transition: 1s;
}

.logo {
    font-family: Meddon;
    font-family: Meddon;
    font-size: 40px;
    font-weight: 400;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;
    color: #FB797F;
    margin-left: 50%;
    cursor: pointer;
}

.header .category {
    margin-top: 30px;
    margin-left: 10%;
    width: 80%;
}
#navbar{
    display: none;
}
.header a{
    text-decoration: none;
}
.header .category a {
    width: 700px;
    color: black;
    font-family: Quicksand;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-inline: 10px;
    margin-left: 1%;
    text-decoration: none;
}

.header .category a:nth-child(4) {
    color: #FB797F;
}

.header .button-header {
    margin: 20px 0px 0px 0px;
    display: flex;

}

.header .button-header .button-signup {
    border-radius: 5px;
    border: 2px solid var(--pink-1, #FB797F);
    background: var(--pink-1, #FB797F);
    width: 138px;
    height: 46px;
    color: white;
    cursor: pointer;
}

.header .button-header .button-signup:hover {
    border: 2px solid var(--pink-1, #FB797F);
    background: var(--pink-1, white);
    color: #FB797F;
    cursor: pointer;
}

.header .button-header .button-signin {
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid var(--pink-1, #FB797F);
    width: 138px;
    height: 46px;
    color: rgba(251, 121, 127, 1);
    background-color: white;
    margin-right: 70px;
    cursor: pointer;
}

.header .button-header .button-signin:hover {
    border: 2px solid var(--pink-1, white);
    background: var(--pink-1, #FB797F);
    color: white;
    cursor: pointer;
}

h2{
    color: var(--pink1, #FB797F);
    font-family: Sacramento;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
}
#intro-container{
    background-color: rgba(255, 198, 199, 0.30);
    width: 804px;
    height: 565px;
    padding: 141px 193px 170px 124px;

}
#intro-container>p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 487px;
    
}
#intro-container{
    position: absolute;
}
.pic1>img{
    position: relative;
    top: 0px;
    left: 800px;

}
.pic1>svg{
    position: relative;
    top: 50px;
    left: 100px;
}
#intro-section{
    margin-bottom: 101px;
    margin-top: 154px;
}
.maintitle-container>h1{
    width: 422.827px;
    /* height: 255.74px; */
    color: var(--pink1, #FB797F);
    text-align: center;
    font-family: Quicksand;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 85px;
    text-transform: uppercase;
}
.maintitle-container>p{
    text-align: center;
    font-family: Quicksand;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 547px;
    height: 110px;
    
}
.maintitle-container{
    margin: 0px 507px 40px 507px;
}
.maintitle-container>p{
    position: relative;
    top: -160px;
    left: -70px;
}
.mission-container{
    width: 922px;
    height: 624px;
    flex-shrink: 0;
    background-color: rgba(255, 198, 199, 0.30);
    padding: 156px 202.56px 189px 173px;
}
#mission-section{
    display: flex;
}
#square{
    width: 570px;
    height: 640px;
    flex-shrink: 0;
    background-color: rgba(251, 121, 127, 0.50);
}
#square{
    position: relative;
    right: 1430px;
    bottom: 40px;
}

/* members */
.member-intro>h2{
    /* width: 460.145px;
    height: 94.115px; */
    transform: rotate(-0.517deg);
    font-weight: 400;
    line-height: 85px; 
    text-align: center;
}
.member-intro>p{
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 850px;
    height: 40px;
}
.member-intro{
    margin: 124px 295px 50.2px 295px;
}
h3{
    margin-top: 15.5px;
    margin-bottom:15.09px;
}
.member-infor-container{
    display:inline-block;
}
.member-effect{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap:40px;
}
.member-effect{
    margin: 50.02px 139px 0px 120px;
    
}
/* .member-infor-container{
    position: absolute;
} */
/* .img{
    position: absolute;
} */
#square1{
    width: 265px;
    height: 388px;
    border-radius: 5px;
    background-color: rgba(251, 121, 127, 0.50);
}
#square1{
    position: relative;
    right: -20px;
    bottom: 450px;
}
#square2{
    width: 265px;
    height: 388px;
    border-radius: 5px;
    background-color: rgba(251, 121, 127, 0.50);
}
#square2{
    position: relative;
    right: -20px;
    bottom: 450px;
}
#square3{
    width: 265px;
    height: 388px;
    border-radius: 5px;
    background-color: rgba(251, 121, 127, 0.50);
}
#square3{
    position: relative;
    right: -20px;
    bottom: 450px;
}
#square4{
    width: 265px;
    height: 388px;
    border-radius: 5px;
    background-color: rgba(251, 121, 127, 0.50);
}
#square4{
    position: relative;
    right: -20px;
    bottom: 450px;
}

/* mobile */

.mobile-version-container>h2{
    width: 468.33px;
    height: 141.9px;
    color: var(--pink1, #FB797F);
    font-family: Quicksand;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;

}
.mobile-version-container>span{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.mobile-version-container>p{
    width: 733px;
    height: 58.421px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 29.21px;
    margin-bottom: 34.08px;
}
.mobile-version-container{
    width: 1442px;
    height: 555px;
    background-color: rgba(255, 198, 199, 0.30);
    padding: 90.55px 588px 109.05px 121px;
}

#mobile-version-section{
    margin-top: 194px;
    margin-bottom: 154px;
    padding-bottom: 0px;
}
.mobile-version-container{
    position: absolute;
}
.pic3{
    position: relative;
    bottom: 40px;
    left: 1000px;
    width: fit-content;
}

/* contact */
#contact-section>h2{
    text-align: center;
}
#contact-section>p{
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 850px;
    height: 40px;
}
#contact-section{
    padding: 0 295px 71.43px 295px;
}
form{
    /* width: 285px; */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 425px;
    margin-right: 425px;
    margin-bottom: 115px;
}
input, textarea {
    background: #F3F3F3;
    border-radius: 8px;
    padding: 21px 30px;
    border: none;
    margin-bottom: 20px;
    font-size: 17px;
}
input[type="submit"] {
    border-radius: 8px;
    border: 2px solid var(--pink1, #FB797F);
    background: var(--pink1, #FB797F);
    color: white;
    padding: 7px 20.61px 13px 21.51px;
    width: 217px;
    height: 46px;
    font-size: 20px;
    font-weight: 600;
}

    footer {
        width: 100%;
        height: 450px;
        background-color: #fa8b90;
    }
    footer .fontfooter {
        font-family: Meddon;
        font-size: 35px;
        font-weight: 400;
        line-height: 74px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0px 0px 0px 8%;
        color: white;
        padding: 25px 0px;
    }
    footer .hr-footer {
        width: 85%;
        margin-left: 8%;
        border: #000 0.5px solid;
    }
    
    .content-footer {
        width: 85%;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin-left: 8%;
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        
    }
    
    footer .content-footer p {
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    
    }
    footer .content-footer .parent-content{
        margin-right: 50px;
    }
    footer .content-footer .content {
        margin: 50px 0px 50px 0px;
    }
    
    #Headquaters{
        width: 250px;
    }
    #QuickLinks{
        width: 210px;
    }
    #Resources{
        width: 130px;
    }
    .child-content1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 110px;
        width: 245px;
    }
    
    .inner-child-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 210px;
    }
    .inner-child-content1 {
        height: 110px;
        width: 80px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .inner-child-content2 {
        height: 110px;
        width: 130px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .child-content2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 110px;
        width: 130px;
    }
    #Contact{   
        width: 100%;
        margin-right: 0%;
    }
    #Apps {
        width: 160px;
        margin-right: 0%;
        padding-left: 10%;
    }
    
    #Apps .content img {
        width: 160px;
        height: 50px;
        
    }
    footer .last-footer {
        margin-top: 40px;
        text-align: center;
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
    
    }
    
    footer .last-footer b {
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        border-bottom: black 1px solid;
    }
@media screen and (min-width: 990px) and (max-width: 1280px) {
    #container {
        width: 80%;
        gap: 0px;
        height: 400px;
    }
    .tutorials-container{
        width: 80%;   
    }
    #group-banner {
        max-height: 400px;
        aspect-ratio: 1;
    }

    #welcome-container>p {
        max-width: 450px;
        height: auto;
    }

    #welcome-container {
        max-width: 450px;

    }
    footer {
        width: 100%;
        height: 450px;
        background-color: #fa8b90;
    }
    footer .fontfooter {
        font-family: Meddon;
        font-size: 35px;
        font-weight: 400;
        line-height: 74px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0px 0px 0px 8%;
        color: white;
        padding: 25px 0px;
    }
    footer .hr-footer {
        width: 85%;
        margin-left: 8%;
        border: #000 0.5px solid;
    }

    footer .content-footer {
        width: 85%;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin-left: 8%;
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        
    }

    footer .content-footer p {
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;

    }
    footer .content-footer .parent-content{
        margin-right: 20px;
    }
    footer .content-footer .content {
        margin: 50px 0px 50px 0px;
    }
    footer .content-footer .parent-content .footerTitle {
        width: auto;
    }
    #Headquaters{
        width: 170px;
    }
    #QuickLinks{
        width: 210px;
    }
    #Resources{
        width: 130px;
    }
    footer .content-footer .content .child-content1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 110px;
        width: 170px;
    }
    
    footer .content-footer .content .child-content .inner-child-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 210px;
    }
    footer .content-footer .content .child-content .inner-child-content .inner-child-content1 {
        height: 110px;
        width: 80px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    footer .content-footer .content .child-content .inner-child-content .inner-child-content2 {
        height: 110px;
        width: 130px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    footer .content-footer .content .child-content2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 110px;
        width: 130px;
    }
    #Contact{   
        width: 80px;
        margin-right: 0%;
    }
    #Apps {
        width: 160px;
        margin-right: 0%;
    }

    #Apps .content img {
        width: 160px;
        height: 50px;
        
    }
    footer .last-footer {
        margin-top: 40px;
        text-align: center;
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;

    }
    
    footer .last-footer b {
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        border-bottom: black 1px solid;
    }
}

@media screen and (max-width: 990px) and (min-width:768px){
    .header{
        display: none;
    }
    #navbar{
        display: block;
    }
    #header{
        width: 100vw;
        margin: 0px auto;
    }
    .container-fluid .navbar-brand{
        font-family: Meddon;
        font-size: 35px;
        font-weight: 400;
        line-height: 74px;
        letter-spacing: 0em;
        text-align: left;
        color: #FB797F;
        cursor: pointer;
    }
    .container-fluid .navbar-brand:hover{
        color: #FB797F;
        
    }
    .nav-item{
        border-radius:5px;
        padding-left:20px;
    }
    .nav-item:hover{
        width: 100%;
        margin-left: 0px;
        background-color: #FB797F;
        transition: 0.5s;
    }
    footer {
        width: 100%;
        height: 500px;
        background-color: #fa8b90;
    }
    footer .fontfooter {
        font-family: Meddon;
        font-size: 35px;
        font-weight: 400;
        line-height: 74px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0px 0px 0px 5%;
        color: white;
        padding: 25px 0px;
    }
    footer .hr-footer {
        width: 85%;
        margin-left: 5%;
        border: #000 0.5px solid;
    }

    footer .content-footer {
        width: 85%;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin-left: 5%;
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        
    }

    footer .content-footer p {
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;

    }
    footer .content-footer .parent-content{
        margin-right: 10px;
    }
    footer .content-footer .content {
        margin: 50px 0px 100px 0px;
    }
    footer .content-footer .parent-content .footerTitle {
        width: auto;
    }
    #Headquaters{
        width: 140px;
    }
    #QuickLinks{
        width: 120px;
    }
    #Resources{
        width: 110px;
    }
    footer .content-footer .content .child-content1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 110px;
        width: 120px;
    }
    
    footer .content-footer .content .child-content .inner-child-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 130px;
    }
    footer .content-footer .content .child-content .inner-child-content .inner-child-content1 {
        height: 110px;
        width: 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    footer .content-footer .content .child-content .inner-child-content .inner-child-content2 {
        height: 110px;
        width: 70px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    footer .content-footer .content .child-content2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 110px;
        width: 100px;
    }
    #Contact{   
        width: 80px;
        margin-right: 0%;
    }
    #Apps {
        width: 160px;
        margin-right: 0%;
    }

    #Apps .content img {
        width: 160px;
        height: 50px;
        
    }
    footer .last-footer {
        margin-top: 40px;
        text-align: center;
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;

    }
    
    footer .last-footer b {
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        border-bottom: black 1px solid;
    }
    h2 {
        font-size: 55px;
        line-height: 65px;
    }
    .video-container:nth-child(2)>a>img{
        width: 100vw;
        height:auto;
    }
    .video-container:nth-child(1)>a>img, .video-container:nth-child(3)>a>img{
        width: 40vw !important;
        height:auto;
    }
}

@media screen and (max-width: 768px)  and (min-width:380px){
    .header{
        display: none;
    }
    #navbar{
        display: block;
    }
    #header{
        width: 100vw;
        margin: 0% auto;
    }
    .container-fluid .navbar-brand{
        font-family: Meddon;
        font-size: 35px;
        font-weight: 400;
        line-height: 74px;
        letter-spacing: 0em;
        text-align: left;
        color: #FB797F;
        cursor: pointer;
    }
    .container-fluid .navbar-brand:hover{
        color: #FB797F;
        
    }
    .nav-item{
        border-radius:5px;
        padding-left:20px;
    }
    .nav-item:hover{
        width: 100%;
        margin-left: 0px;
        background-color: #FB797F;
        transition: 0.5s;
    }
    .header {
        position: relative;
        width: 100% ;
        height: 87px;
        flex-shrink: 1;
        flex-direction: row;
        justify-content: space-between;
    }

    .headerActive {
        background-color: rgb(248, 217, 220);
        box-shadow: 5px 5px 5px 5px rgb(158, 157, 157);
        position: fixed;
        top: 0;
        padding-bottom: 0px;
        z-index: 100;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        transition: 0.3s;
    }

    .logo {
        font-family: Meddon;
        font-size: 40px;
        font-weight: 400;
        line-height: 74px;
        letter-spacing: 0em;
        text-align: left;
        color: #FB797F;
        margin-left: 10%;
        cursor: pointer;
    }

    .header .category {
        margin-top: 30px;
        margin-left: 7%;
        width: 60%;
        display: block;
    }

    .header .category a {
        width: 700px;
        color: black;
        font-family: Quicksand;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-inline: 10px;
        margin-left: 1%;
    }

    .header .category a:nth-child(4) {
        color: #FB797F;
    }

    .header .button-header {
        margin: 20px 0px 0px 0px;
        display: block;

    }

    .header .button-header .button-signup {
        border-radius: 5px;
        border: 2px solid var(--pink-1, #FB797F);
        background: var(--pink-1, #FB797F);
        width: 138px;
        height: 46px;
        color: white;
        cursor: pointer;
        margin-left: 5%;
    }

    .header .button-header .button-signup:hover {
        border: 2px solid var(--pink-1, #FB797F);
        background: var(--pink-1, white);
        color: #FB797F;
        cursor: pointer;
    }

    .header .button-header .button-signin {
        margin-left: 10px;
        border-radius: 5px;
        border: 2px solid var(--pink-1, #FB797F);
        width: 138px;
        height: 46px;
        color: rgba(251, 121, 127, 1);
        background-color: white;
        margin-right: 20px;
        cursor: pointer;
    }

    .header .button-header .button-signin:hover {
        border: 2px solid var(--pink-1, white);
        background: var(--pink-1, #FB797F);
        color: white;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        
    }
    .container-fluid .navbar-brand{
        font-family: Meddon;
        font-size: 35px;
        font-weight: 400;
        line-height: 74px;
        letter-spacing: 0em;
        text-align: left;
        color: #FB797F;
        cursor: pointer;
    }
    .container-fluid .navbar-brand:hover{
        color: #FB797F;
        
    }
    .nav-item{
        border-radius:5px;
        padding-left:20px;
    }
    .nav-item:hover{
        width: 100%;
        margin-left: 0px;
        background-color: #FB797F;
        transition: 0.5s;
    }
    footer {
        width: 100%;
        height: fit-content;
        background-color: #fa8b90;
    }
    .fontfooter {
        font-family: Meddon;
        font-size: 35px;
        font-weight: 400;
        line-height: 74px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        margin: 25px auto 0px auto;
    }
    .hr-footer {
        width: 90%;
        margin-left: 5%;
        border: #000 0.5px solid;
    }

    .content-footer {
        width: 90%;
        display: flex;
        flex-direction: column;
        
        margin: auto auto;
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        
    }

    .content-footer p {
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        
    }
    .parent-content{
        margin: auto auto;
        text-align: center;
    }
    .content {
        margin: auto auto auto auto;
        text-align: center;
    }
    .footerTitle {
        text-align: center;
    }
    #Headquaters{
        width: 100%;
        text-align: center;
    }
    #QuickLinks{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    #Resources{
        width: 100%;
        justify-content: center;
        margin-top:0px;
    }
    .child-content1 {
        width: 100%;
        margin-top: 10px;
    }
    .child-content1 p {
        margin: 10px auto;
    }
    .inner-child-content {
        width: 100%;
    }
    .inner-child-content1 {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .inner-child-content1 p{
        display: inline-flex;
        margin-right: 20px;
    }
    .inner-child-content2 {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .inner-child-content2 p{
        display: inline-flex;
        margin-right: 10px;
    }
    footer .content-footer p{
        text-align: center;
    }
    .child-content2 {
        width: 100%;
        margin-top: 20px;
    }
    .child-content2 p{
        margin-right: 10px;
    }
    #Contact{   
        width: 50%;
        margin:20px auto auto auto !important;
    }
    #Contact .content{   
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
       
    }
    #Apps {
        width: 100%;
        margin:20px auto auto -30px !important;
    }

    #Apps .content img {
        display: grid;
        margin: 20px auto;
        width: 160px;
        height: 50px;
    }
    footer .last-footer {
        margin: 20px auto 0px auto;
        text-align: center;
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        width: 85%;

    }
    
    footer .last-footer b {
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        border-bottom: black 1px solid;
    }
}
