* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
    color: #000;
    text-decoration: none;
}
@font-face {
    font-family: Meddon;
    src: url(../../Assest/Font/Meddon-Regular.ttf);
}
a {
    text-decoration: none !important;
}
body {
    width: 100vw;
    overflow-x: hidden;
}

body,main,tutorials-container, #tutorials-section, #videos-container{
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
}
main {
    width: 100%;
    display: flex;
}

@font-face {
    font-family: Quicksand;
    src: url(Assest-20230827T040303Z-001/Assest/Font/Quicksand2/static/Quicksand-Regular.ttf);
}

@font-face {
    font-family: Sacramento;
    src: url(Assest-20230827T040303Z-001/Assest/Font/Sacramento/Sacramento-Regular.ttf);
}
.header {
    position: relative;
    display: flex;
    width: 85vw ;
    height: 67px;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: space-between;
}

.headerActive {
    background-color: rgb(248, 217, 220);
    box-shadow: 5px 5px 5px 5px rgb(158, 157, 157);
    position: fixed;
    top: 0;
    padding-bottom: 10px;
    z-index: 100;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    transition: 1s;
}

.logo {
    font-family: Meddon;
    font-size: 40px;
    font-weight: 400;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;
    color: #FB797F;
    margin-left: 50%;
    cursor: pointer;
}

.header .category {
    margin-top: 30px;
    margin-left: 10%;
    width: 80%;
}
#navbar{
    display: none;
}
.header a{
    text-decoration: none;
}
.header .category a {
    width: 700px;
    color: black;
    font-family: Quicksand;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-inline: 10px;
    margin-left: 1%;
    text-decoration: none;
}

.header .category a:nth-child(4) {
    color: #FB797F;
}

.header .button-header {
    margin: 20px 0px 0px 0px;
    display: flex;

}

.header .button-header .button-signup {
    border-radius: 5px;
    border: 2px solid var(--pink-1, #FB797F);
    background: var(--pink-1, #FB797F);
    width: 138px;
    height: 46px;
    color: white;
    cursor: pointer;
}

.header .button-header .button-signup:hover {
    border: 2px solid var(--pink-1, #FB797F);
    background: var(--pink-1, white);
    color: #FB797F;
    cursor: pointer;
}

.header .button-header .button-signin {
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid var(--pink-1, #FB797F);
    width: 138px;
    height: 46px;
    color: rgba(251, 121, 127, 1);
    background-color: white;
    margin-right: 70px;
    cursor: pointer;
}

.header .button-header .button-signin:hover {
    border: 2px solid var(--pink-1, white);
    background: var(--pink-1, #FB797F);
    color: white;
    cursor: pointer;
}


#accordionExample{
    margin-top: 80px;
}

/* welcome */

#welcome-view {
    width: 199px;
    height: 46px;
    border-radius: 5px;
    background-color: #FB797F;
    padding: 10px 49.56px 13px 35px;

}

.welcome-home {
    font-family: Quicksand;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    width: 554px;
    height: 31px;
    margin: 232px 34px 29px 0px;
}

#welcome-section {
    width: 100%;
    margin: 124px 0;
    /* background-color: rgba(255, 198, 199, 0.30); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container {
    width: 1280px;
    display: flex;
    flex-direction: row;
    gap: 55px;
    align-items: center;
    justify-content: space-between;
}

#group-banner {
    width: 100%;
    height: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-banner {
    position: relative;
}

#group-banner>img {
    /* position: absolute; */
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    height: auto;
}

#group-banner>svg {
    position: absolute;
    top: 51px;
    left: -51px;
    width: 100%;
    height: auto;
}

#welcome-container>h2 {
    margin: 23px 106.73px 6.84px 0px;

}

h2 {
    font-family: Sacramento;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 85px;
    color: #FB797F;
    width: 482.681px;
    /* height: 178.812px; */
}

#play-button {
    position: relative;
    top: -22px;
    left: 100px;
}

#welcome-view>p {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

#welcome-container>p {
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 510px;
    height: 60px;
    margin: 0 79px 25px 0px;
}

/* trending */

.tutorials-container{
    width: 1280px;
    
}


#tutorial-title>span {
    color: var(--pink1, #FB797F);
    text-align: center;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;


}

#tutorial-title>h2 {
    /* width: 473.915px;
    height: 77.245px; */

}

#tutorial-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.tutorials-container>p {
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 54px;
    /* width: 1204px;
    
    height: 80px; */
    /* margin: 0 119px 54px 0; */
}

#video-container>p {
    font-family: Quicksand;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

#tutorials-container>p {
    width: 1204px;
    height: 80px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 19.48px 119px 54px 117px;
}

#tutorials-container{
    width: 100%;
}

#trending-video {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 24px;
}

#videos-container{
    width: 100%;
    overflow: hidden;
}


.video-container:nth-child(2)>a>img{
    width: 692px;
    height:auto;
}



/* .video-container > p:first-child{
    font-size: 25px;
    font-weight: 700;
    width: 611.514px;
    height: 33.175px;
} */
footer {
    width: 100%;
    height: 450px;
    background-color: #fa8b90;
}
footer .fontfooter {
    font-family: Meddon;
    font-size: 35px;
    font-weight: 400;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px 0px 0px 8%;
    color: white;
    padding: 25px 0px;
}
footer .hr-footer {
    width: 85%;
    margin-left: 8%;
    border: #000 0.5px solid;
}

.content-footer {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-left: 8%;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    
}

footer .content-footer p {
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}
footer .content-footer .parent-content{
    margin-right: 50px;
}
footer .content-footer .content {
    margin: 50px 0px 50px 0px;
}

#Headquaters{
    width: 250px;
}
#QuickLinks{
    width: 210px;
}
#Resources{
    width: 130px;
}
.child-content1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
    width: 245px;
}

.inner-child-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 210px;
}
.inner-child-content1 {
    height: 110px;
    width: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.inner-child-content2 {
    height: 110px;
    width: 130px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.child-content2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
    width: 130px;
}
#Contact{   
    width: 100%;
    margin-right: 0%;
}
#Apps {
    width: 160px;
    margin-right: 0%;
    padding-left: 10%;
}

#Apps .content img {
    width: 160px;
    height: 50px;
    
}
footer .last-footer {
    margin-top: 40px;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;

}

footer .last-footer b {
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    border-bottom: black 1px solid;
}
@media screen and (min-width: 990px) and (max-width: 1280px) {
    #container {
        width: 80%;
        gap: 0px;
        height: 400px;
    }
    .tutorials-container{
        width: 80%;   
    }
    #group-banner {
        max-height: 400px;
        aspect-ratio: 1;
    }

    #welcome-container>p {
        max-width: 450px;
        height: auto;
    }

    #welcome-container {
        max-width: 450px;

    }
    footer {
        width: 100%;
        height: 450px;
        background-color: #fa8b90;
    }
    footer .fontfooter {
        font-family: Meddon;
        font-size: 35px;
        font-weight: 400;
        line-height: 74px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0px 0px 0px 8%;
        color: white;
        padding: 25px 0px;
    }
    footer .hr-footer {
        width: 85%;
        margin-left: 8%;
        border: #000 0.5px solid;
    }

    footer .content-footer {
        width: 85%;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin-left: 8%;
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        
    }

    footer .content-footer p {
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;

    }
    footer .content-footer .parent-content{
        margin-right: 20px;
    }
    footer .content-footer .content {
        margin: 50px 0px 50px 0px;
    }
    footer .content-footer .parent-content .footerTitle {
        width: auto;
    }
    #Headquaters{
        width: 170px;
    }
    #QuickLinks{
        width: 210px;
    }
    #Resources{
        width: 130px;
    }
    footer .content-footer .content .child-content1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 110px;
        width: 170px;
    }
    
    footer .content-footer .content .child-content .inner-child-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 210px;
    }
    footer .content-footer .content .child-content .inner-child-content .inner-child-content1 {
        height: 110px;
        width: 80px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    footer .content-footer .content .child-content .inner-child-content .inner-child-content2 {
        height: 110px;
        width: 130px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    footer .content-footer .content .child-content2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 110px;
        width: 130px;
    }
    #Contact{   
        width: 80px;
        margin-right: 0%;
    }
    #Apps {
        width: 160px;
        margin-right: 0%;
    }

    #Apps .content img {
        width: 160px;
        height: 50px;
        
    }
    footer .last-footer {
        margin-top: 40px;
        text-align: center;
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;

    }
    
    footer .last-footer b {
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        border-bottom: black 1px solid;
    }
}

@media screen and (max-width: 990px) and (min-width:768px){
    #container {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 55px;
        align-items: center;
        justify-content: space-between;
    }
    .header{
        display: none;
    }
    #navbar{
        display: block;
    }
    #header{
        width: 100vw;
    }
    .container-fluid .navbar-brand{
        font-family: Meddon;
        font-size: 35px;
        font-weight: 400;
        line-height: 74px;
        letter-spacing: 0em;
        text-align: left;
        color: #FB797F;
        cursor: pointer;
    }
    .container-fluid .navbar-brand:hover{
        color: #FB797F;
        
    }
    .nav-item{
        border-radius:5px;
        padding-left:20px;
    }
    .nav-item:hover{
        width: 100%;
        margin-left: 0px;
        background-color: #FB797F;
        transition: 0.5s;
    }
    .tutorials-container{
        width: 90%;   
    }
    

    #group-banner {
        position: relative;
        left: 25px
    }

    #welcome-container>p {

        width: auto;
        height: auto;
    }

    h2 {
        width: auto;
        height: auto;
    }
    footer {
        width: 100%;
        height: 500px;
        background-color: #fa8b90;
    }
    footer .fontfooter {
        font-family: Meddon;
        font-size: 35px;
        font-weight: 400;
        line-height: 74px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0px 0px 0px 5%;
        color: white;
        padding: 25px 0px;
    }
    footer .hr-footer {
        width: 85%;
        margin-left: 5%;
        border: #000 0.5px solid;
    }

    footer .content-footer {
        width: 85%;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin-left: 5%;
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        
    }

    footer .content-footer p {
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;

    }
    footer .content-footer .parent-content{
        margin-right: 10px;
    }
    footer .content-footer .content {
        margin: 50px 0px 100px 0px;
    }
    footer .content-footer .parent-content .footerTitle {
        width: auto;
    }
    #Headquaters{
        width: 140px;
    }
    #QuickLinks{
        width: 120px;
    }
    #Resources{
        width: 110px;
    }
    footer .content-footer .content .child-content1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 110px;
        width: 120px;
    }
    
    footer .content-footer .content .child-content .inner-child-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 130px;
    }
    footer .content-footer .content .child-content .inner-child-content .inner-child-content1 {
        height: 110px;
        width: 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    footer .content-footer .content .child-content .inner-child-content .inner-child-content2 {
        height: 110px;
        width: 70px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    footer .content-footer .content .child-content2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 110px;
        width: 100px;
    }
    #Contact{   
        width: 80px;
        margin-right: 0%;
    }
    #Apps {
        width: 160px;
        margin-right: 0%;
    }

    #Apps .content img {
        width: 160px;
        height: 50px;
        
    }
    footer .last-footer {
        margin-top: 40px;
        text-align: center;
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;

    }
    
    footer .last-footer b {
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        border-bottom: black 1px solid;
    }
    h2 {
        font-size: 55px;
        line-height: 65px;
    }
    .video-container:nth-child(2)>a>img{
        width: 100vw;
        height:auto;
    }
    .video-container:nth-child(1)>a>img, .video-container:nth-child(3)>a>img{
        width: 40vw !important;
        height:auto;
    }
}

@media screen and (max-width: 768px)  and (min-width:380px){
    .header{
        display: none;
    }
    #navbar{
        display: block;
    }
    #header{
        width: 100vw;
    }
    .container-fluid .navbar-brand{
        font-family: Meddon;
        font-size: 35px;
        font-weight: 400;
        line-height: 74px;
        letter-spacing: 0em;
        text-align: left;
        color: #FB797F;
        cursor: pointer;
    }
    .container-fluid .navbar-brand:hover{
        color: #FB797F;
        
    }
    .nav-item{
        border-radius:5px;
        padding-left:20px;
    }
    .nav-item:hover{
        width: 100%;
        margin-left: 0px;
        background-color: #FB797F;
        transition: 0.5s;
    }
    .tutorials-container{
        width: 90%;   
    }
    

    #group-banner {
        position: relative;
        left: 25px
    }

    #welcome-container>p {

        width: auto;
        height: auto;
    }

    h2 {
        width: auto;
        height: auto;
    }
    footer {
        width: 100%;
        height: fit-content;
        background-color: #fa8b90;
    }
    .fontfooter {
        font-family: Meddon;
        font-size: 35px;
        font-weight: 400;
        line-height: 74px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        margin: 25px auto 0px auto;
    }
    .hr-footer {
        width: 90%;
        margin-left: 5%;
        border: #000 0.5px solid;
    }

    .content-footer {
        width: 90%;
        display: flex;
        flex-direction: column;
        
        margin: auto auto;
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        
    }

    .content-footer p {
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        
    }
    .parent-content{
        margin: auto auto;
        text-align: center;
    }
    .content {
        margin: auto auto auto auto;
        text-align: center;
    }
    .footerTitle {
        text-align: center;
    }
    #Headquaters{
        width: 100%;
        text-align: center;
    }
    #QuickLinks{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    #Resources{
        width: 100%;
        justify-content: center;
        margin-top:0px;
    }
    .child-content1 {
        width: 100%;
        margin-top: 10px;
    }
    .child-content1 p {
        margin: 10px auto;
    }
    .inner-child-content {
        width: 100%;
    }
    .inner-child-content1 {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .inner-child-content1 p{
        display: inline-flex;
        margin-right: 20px;
    }
    .inner-child-content2 {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .inner-child-content2 p{
        display: inline-flex;
        margin-right: 10px;
    }
    footer .content-footer p{
        text-align: center;
    }
    .child-content2 {
        width: 100%;
        margin-top: 20px;
    }
    .child-content2 p{
        margin-right: 10px;
    }
    #Contact{   
        width: 50%;
        margin:20px auto auto auto !important;
    }
    #Contact .content{   
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
       
    }
    #Apps {
        width: 100%;
        margin:20px auto auto -30px !important;
    }

    #Apps .content img {
        display: grid;
        margin: 20px auto;
        width: 160px;
        height: 50px;
    }
    footer .last-footer {
        margin: 20px auto 0px auto;
        text-align: center;
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        width: 85%;

    }
    
    footer .last-footer b {
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        border-bottom: black 1px solid;
    }
}

